on: push
name: Scan for secrets
jobs:
  scan:
    name: Scan for secrets
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Scan for secrets
        uses: docker://cdssnc/seekret-github-action
